#results { 
    display: flex;
    width: 140%;
    align-content: flex-start;
    justify-content: flex-start;

    /* margins */ 
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 21%;
}

#results p{
    max-width: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 28px;

    color: #694DC6;
}

@media (max-width: 850px) {
    /*---------*/
    /* Móviles */
    /*---------*/
    #results{
        width: 100%;
        margin-left: 2%;
        text-align: left;
    }
    #results p{
        line-height: 150%;
    }
}
