#quotecontainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}

#fondo{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 47vh; 
    top:490%;
    
}

#quote { 
    display: flex;
    width: 100vw;
    flex-direction: row;
}

.quoteText{
    flex-direction: column;
    display: flex;
    flex: 0.5;
    align-content: center;
    justify-content: center;
    font-style: normal;
    align-items: flex-end;
    margin-left: 5%;
    color: #7151DA;
}

.quoteText h2 { 
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
}
.quoteText h2, p {
    max-width: 70%;
}
.quoteText p {
    font-weight: 300;
    line-height: 125%;
    font-size: 1.2em;
    color: black;
}


.quoteImage{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    justify-content: center;

}
.quoteImage img {
    display: flex;
    align-self: center;

}

@media (max-width: 850px) {
    /*---------*/
    /* Móviles */
    /*---------*/
    #quote{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-top: 4%;
    }
    .quoteText{
        display: flex;
        flex-direction: column;
        display: flex;
        flex: 0.5;
        align-content: center;
        justify-content: center;
        font-style: normal;
        justify-items: center;
        align-items: center;
        margin-left: 0;
        color: #7151DA;
    }

}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    #quotecontainer{
        margin-top: 31% !important;
        
    }
    #quote{
        margin-top: 12% !important;
    }
    .quoteImage{
        justify-content: center !important;
    }
    .quoteImage img {
        width: 30%;
        align-self: center;
        justify-self: center;
    }
    #fondo{
        margin-top: 0 !important;
    }
}
