.features{
    display: flex;
    width: 100vw !important;
    margin-top: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.featuresTitle{
    display: flex;
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #7151DA;
}

#featuresDescription{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-content: center;
    justify-content: center;
    
}

.feature{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 40%;
}

.feature img{
    display: flex;
    align-self: center;
    width: 150px;
    height: 150px;  
}

.feature h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #694DC6;
    margin-top: 1%;
}
.feature p {
    max-width: 60%;
    margin: 0;
    justify-self: center;
    text-align: center;
    align-self: center;
}

@media (max-width: 850px) {
    #featuresDescription{
        flex-wrap: wrap;
        margin-bottom: 20%;
    }
    .feature{
        width: 100%;
    }
}