#platformpreview{
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin-top: 12%;
    margin-bottom: 12%;
}
.sectionTitle{
    font-weight: 700;
    font-size: 2em;
    max-width: 60%;
    align-self: center;
    line-height: 125%;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;

    color: #7151DA;
}

.containerTitle{
    font-weight: 700;
    font-size: 2em;
    align-self: center;
    line-height: 125%;
    font-family: 'Inter';
    font-style: normal;

    color: #7151DA;
}

.left{
    text-align: left;
}
.right{
    text-align: right;
}
#platformpreviewContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: center;

}
.columnContainer{
    display: flex;
    flex-direction: column;
    flex: 0.4;
    margin-top: 5%;
}
.imageContainer{
    display: flex;
    flex-direction: column;
    flex: 0.2;
}

#leftContainer p{
    align-self: flex-end;
    max-width: 50%;
    margin-left: 50%;

}

#leftContainer h2{
    align-self: flex-end;
    max-width: 70%;
    margin-left: 50%;

}

#rightContainer p{
    align-self: flex-start;
    max-width: 50%;
    margin-right: 50%;
}
#rightContainer  h2{
    align-self: flex-start;
    max-width: 70%;
    margin-right: 50%;
}

#leftContainer .containerText{
    align-content: flex-end !important;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
    text-align: right;
}

#contenedorBoton{
    display: flex;
    width:100vw;
    align-content: center;
    justify-content: center;
    margin-top: 3%;
   
}

#applyButton {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 30%;
    height: 6vh;
    background: linear-gradient(180deg, rgba(113, 81, 218, 0) 310.61%, #694DC6 410.61%);
    border: 2px solid #694DC6;
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    font-style: normal;
    font-size: 1.1em;
    line-height: 100%;
    text-align: center;

}

@media (max-width: 850px) {
    /*---------*/
    /* Móviles */
    /*---------*/
    #platformpreviewContainer{
        flex-direction: column;
        
    }

    .containerText{
        align-content: center;
        width: 100vw;
        justify-content: center;
        margin-top: 5%;
        flex-direction: column;
        align-content: center !important;
    }
    .containerText h2, p{
        display: flex;
        text-align: center;
        max-width: 90% !important;
        align-self: center !important;
        justify-content: center;        
        
    }
    .containerText p{
        margin-top:5% !important;
        
    }
    .containerTitle{
        margin-right: 0 !important;
       text-align: center !important;
        
    }

    #rightContainer  p, h2{
        align-self: flex-end;
        max-width: 80%;
        margin-right: 0 !important;
        
    }
    #leftContainer p, h2{
        align-self: flex-end;
        max-width: 80%;
        margin-left: 0 !important;
    }
    .right, .left{
        text-align: center;
    }


}

