.highlightContainer{
    display: flex;
    flex-direction: column;
    width: 1108px;
    align-content: center;
    justify-content: center;
}

.rectangle{
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.rectangle img{
    width: 448px;
    height: 517px;
    align-self: center;
    
}

.subrectangle{
    display: flex;
    flex:1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.subrectangle h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 105%;
    max-width: 50%;
    /* or 150% */


    color: #7151DA;
}

.subrectangle p {
    margin-top: -2%;
    max-width: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 120%;

    color: #694DC6;
}

@media (max-width: 850px) {
    .rectangle{
        flex-direction: column;
    }
    .subrectangle h2, p{
        max-width: 80% !important;
        margin-left: 10%;
    }
}