#home{
  background-image: url("./image/fondodifuminado.svg");
  width: 100vw;
  background-size: 100vw;
  overflow-x: hidden;
}


@media only screen and (min-width: 768px) {
  /* tablets and desktop */

}

@media only screen and (max-width: 767px) {
  /* phones */
  #home{
  background-color: white;
  background-image:none;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}